@{
    ViewBag.Title = "About";
}


    <!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="Visitor">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/American_Cancer_Society_Logo.svg/1280px-American_Cancer_Society_Logo.svg.png" alt="">
        </div>
        <div class="col-md-6">
            <h2>About The American Cancer Society</h2>
            <p>For over 100 years, the American Cancer Society (ACS) has worked relentlessly to save lives and create a world with less cancer. Together with millions of our supporters worldwide, we help people stay well and get well, find cures, and fight back against cancer. </p>
            <p>The American Cancer Society is a nationwide, community-based voluntary health organization dedicated to eliminating cancer as a major health problem. Headquartered in Atlanta, Georgia, the ACS has regional and local offices throughout the country that support 11 geographical Divisions and ensure we have a presence in every community. </p>
            <p>The American Cancer Society is the nationwide, community-based, voluntary health organization dedicated to eliminating cancer as a major health problem by preventing cancer, saving lives, and diminishing suffering from cancer, through research, education, advocacy, and service.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Captain Krunch and the Cereal Killers 2016</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
