    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    FAQ
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="Visitor">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Does the money I raise stay in my local community? How much stays in our community?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Everything the American Cancer Society does benefits everyone in our community. The American Cancer Society provides the funds for cutting-edge research that can lead to better treatments for people in your neighborhood. We advocate for better laws to help people in our state threatened by cancer. We’re in every community providing people with free information and services – when and where they need it. Only the American Cancer Society has the scope and expertise to take this comprehensive of an approach to finishing this fight against cancer. So even if some of the money you raise helps a researcher in another state investigate a new cancer treatment or to fund the development of a new program or service, everyone in your community will still benefit from that.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is the breakdown of how you spend your money? How much goes to administrative costs?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                According to our most recent financial data, 73 cents of every dollar goes directly to research, prevention, detection, education, and patient support. The rest – about 27 cents – fuels supporting services for our lifesaving work to manage and fund those programs. Our administrative costs are in line with industry standards set by the Better Business Bureau. But, if you want to really measure the American Cancer Society, look at our results. We have a business model for saving lives that is based on evidence and accomplishment. Since the early 90s, nearly 1.5 million lives have been saved that otherwise would have been lost to cancer. When we began the fight against cancer, the disease was a death sentence. Today, 2 out of 3 people are surviving for five years or more. That’s real progress in the effort to finish the fight against cancer. And we need your help to make it 3 out of 3 as early as possible.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do you decide how much to invest in one type of cancer versus other types of cancers?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                American Cancer Society-funded research is “investigator initiated,” which means researchers apply for funding from us for whatever topic or cancer type they choose. There is no predetermined percentage of research funding designated to any particular cancer. We have a rigorous peer review process to fund the most exceptional applications we get, regardless of cancer type. We believe that funding the best science, regardless of cancer type, is the best way to advance cancer research.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Why does your CEO make such a large salary?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                The fight to end cancer demands that we have a leader of the caliber of Dr. John Seffrin – someone with the stature and leadership to influence presidents, congressmen, business, and global leaders. Under Dr. Seffrin’s leadership, the American Cancer Society has grown into one of the largest and most effective organizations in the history of the cancer fight and the nonprofit sector. Our work has contributed to nearly 1.5 million lives saved. Our CEO’s salary is in line with other organizations of our size.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why do you make me raise $100 just to get a T-shirt?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                The American Cancer Society must constantly look for ways to ensure the dollars entrusted to us go as far as possible toward finishing the fight to end cancer. Giving T-shirts to all of the millions people who participate in our Relay For Life events simply isn’t possible or financially responsible. Instead, our event T-shirts have become a badge of honor worn only by those who have truly dedicated their time, talent, and resources to personally helping the American Cancer Society fund the fight to end cancer. We believe setting a threshold of raising $100 to receive a T-shirt demonstrates that you have gone the extra mile to save lives and fight back against cancer.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why don’t you work more closely with other cancer organizations and groups?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Actually, we work very closely with many other organizations in a variety of ways. We’ve just launched a major collaboration on lung cancer with Stand Up 2 Cancer. We’ve teamed up with the American Heart Association and American Diabetes Association on several public health campaigns. We are partnering with AARP. Also, we regularly partner and refer people who call our cancer information hotline to services offered by other organizations that are better positioned to provide them. And we regularly are part of coalitions and collaborations with other organizations to advance our advocacy work. There are some things the American Cancer Society can do better than any other organization, but we partner or refer people to other organizations when we can do more to advance our mission or to help cancer patients together with other organizations than alone.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Captain Krunch and the Cereal Killers 2016</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
