@{
    ViewBag.Title = "Site Home Page";
}

<h2><b>Online Auction Database Home</b></h2>
<br />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
         <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Person")';return false;">People</button>
        <br />
         <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Item")';return false;">Items</button>
        <br />
         <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Team")';return false;">Teams</button>
        <br />
         <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Event")';return false;">Events</button>
    </div>
}
