@model IEnumerable<DatabaseProject.Models.Event>

@{
    ViewBag.Title = "UpcomingEvents";
}

<h2>UpcomingEvents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @foreach (var item in Model)
    {
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- First Blog Post -->
                <h2>
                    <a href="#">@item.Title</a>
                </h2>
                <p><i class="fa fa-clock-o"></i>@item.Date.ToString()</p>
                <hr>
                <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>@item.Type</p>
                <hr>
                </div>
            </div>
    }

