
@{
    ViewBag.Title = "Visitor";
}

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tri-Cities American Cancer Society
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-info-sign"></i> About Us</h4>
                </div>
                <div class="panel-body">
                    <p>Find out more about your local branch of the American Cancer Society</p>
                    <a href="about.html" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-calendar"></i> Upcoming Events</h4>
                </div>
                <div class="panel-body">
                    <p>Find out what's coming up around you!</p>
                    <a href="events.html" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-camera"></i> Photos</h4>
                </div>
                <div class="panel-body">
                    <p>See photos of recent events in your area!</p>
                    <a href="photos.html" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">ETSU Relay for Life 2016</h2>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://i.imgur.com/uU2ZTAG.png" alt="">
            <h3>ETSU Paints its World Purple!</h3>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DM_qAEX3lQs" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Your tax-deductible donation funds lifesaving research, treatment, and care. Your donations mean so much to those fighting cancer. Please donate today.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-warning btn-block" href="https://www.paypal.com/home">Donate Now</a>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

